body {
    font-family: "Montserrat", sans-serif;
    background-color: #E4E9F7;
    min-height: 100vh;
    /* margin: 2%; */
    padding: 2%;
}

span{
    color: #FF0000;
}

form{
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}


.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#index-body {
    background-image: linear-gradient(to bottom right, #0D2818, #020202);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#index-logo{
    width: 200px;
}

#index-button{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFB800;
    color: #0D2818;
    border: none;
    transition: transform 0.3s ease;
}

#index-button:hover {
    transform: scale(1.1);
}

#login-button{
    padding: 3%;
    background-color: #0D2818;
    color: #fff;
    border: none;
    transition: transform 0.3s ease;
}

#login-button:hover{
    font-weight: bold;
    color: #FFB800;
}

#index-sub{
    color: #FFB800;
    letter-spacing: 10px;
}

#booking-page {
    background-image: linear-gradient(to bottom right, #0D2818, #020202);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#booking-form{
    background-color: #fff;
    color: #020202 !important;
}

#login-form{
    background-color: #FFB800;
    color: #020202 !important;
    max-width: 400px;
    margin: auto;
}

#booking-sub {
    letter-spacing: 10px;
    color: #FFB800;
}

#login-divider {
    width: 100%; /* Ensure the <hr> spans the full width */
    margin: 20px auto; /* Center the <hr> horizontally */
}


#home-active-playing{
    background-color: #fff;
    border-radius: 10px;
}