
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e4e9f7;
  min-height: 100vh;
  padding: 2%;
}

.index-landing {
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  padding: 0%;
}

span {
  color: #ff0000;
}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../images/billiards.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  text-align: center;
}

.qreserve {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.table-box-not-available{
  background-color: #d39700; 
  border-radius: 10px;
  padding: 2%;
  font-size: 20px;
  padding: 0%;
  margin: 0%;
  /* Change the color to whatever you prefer */
}


.table-box{
  background-color: #ffb800;
  border-radius: 10px;
  padding: 2%;
  font-size: 23px;
  padding: 0%;
  margin: 0%;
}


.table-number{
  font-weight: 600;
  padding-left: 5%;
  font-size: 20px;
}

.table-time{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  font-size: 20px;
}

.table-oras{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

#tangina{
  color: #073109;
}

.bi-fullscreen {
  width: 100%;
  display: flex;
  justify-content: end;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}


.qreserve#index-qreserve {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.bevitore {
  color: #ffb800;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#index-body {
  background-image: linear-gradient(to bottom right, #0d2818, #020202);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bevitore-logo {
  width: 10%;
}

/* #index-button,
#add-new-profile {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFB800;
    color: #0D2818;
    border: none;
    transition: transform 0.3s ease;
} */

a.start-button {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffb800 !important;
  color: #0d2818 !important;
  border: none;
  transition: transform 0.3s ease;
}

a.start-button:hover {
  transform: scale(1.1);
}

a.create-reservation {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #240046 !important;
  color: #ffb800 !important;
  border: none;
}

a.create-reservation:hover {
  background-color: #ffb800 !important;
  color: #240046 !important;
}

.login {
  background-color: #ffb800;
  color: #020202 !important;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 1%;
}

.login .login-button {
  background-color: #0d2818;
  border: none;
  padding: 3%;
  font-size: large;
}

.login .login-button:hover {
  color: #ffb800;
  font-weight: bold;
  background-color: #011509;
  border: none;
}

/* Modals */
img.modal-icons {
  height: 60px; /* Adjust the height as needed */
}

.modal-content {
  border-radius: 25px;
  width: 100%; /* Ensure modal-content takes full width of its container */
  padding: 0% 3% 3% 3%; /* Top, Right, Bottom, Left */
}

.modal-content#wait {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-weight: bold;
}

.modal-title#wait {
    color: #ffb800;
}

.modal-title#success {
    color: #0d2818;
}

.modal-title#warning {
  color: #ff8400;
}

.modal-title#deleted {
    color: #ff0000;
}

.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
    align-self: flex-end !important; 
    background-color: #011509;
}









#customer-page-login {
  width: 100%;
  position: relative;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#booking-form {
  background-color: #fff;
  color: #020202 !important;
  padding: 2%;
  margin: 2%;
}

#booking-sub {
  letter-spacing: 10px;
  color: #ffb800;
}

#login-divider {
  width: 100%;
  /* Ensure the <hr> spans the full width */
  margin: 20px auto;
  /* Center the <hr> horizontally */
}

#home-active-playing,
#home-number-of-customers,
#home-services,
#home-pubmats {
  background-color: #fff;
  border-radius: 10px;
  padding: 1%;
}

.carousel-height .carousel-item {
  height: 300px; /* Set your desired height here */
  height: 300px;
  overflow: hidden;
}

.carousel-height .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Head */
#customer-landing-logo {
  width: 95px;
}


#customer-navbar .navbar-toggler {
  background-color: white;
  /* Make the navbar toggler button white */
}

/* Development */
.create-button {
  background-color: #0d2818 !important;
  color: white;
  width: 150px;
  border-color: #0d2818 !important; 
}

.create-button:hover {
  background-color: #020202 !important;
  font-weight: bold;
  color: #ffb800 !important;
}

.cancel-button {
  border-color: #0d2818 !important; 
  color: #0d2818 !important;
  width: 150px;
}

.cancel-button:hover {
  background-color: #0d2818 !important;
  font-weight: bold;
  color: #ffb800 !important;
}

.create-button#proceed {
    width: 400px;
  }

/* Add New Service Modal */
.service-modal {
  max-width: 1000px;
  padding: 0%;
}

/* Password Strength Indicator */
#password-strength-indicator{
  font-size: 0.9rem;
  margin-top: 0.5%;
}

button.start-button {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffb800 !important;
    color: #0d2818 !important;
    border: none;

  }
  
  button.start-button:hover {
    background-color: #0d2818 !important;
    color: #ffb800 !important;
  }

/* Forgot Password */
.forgot-password {
  text-decoration: none;
  outline: none;
  color: #0d2818 !important;
}

.forgot-password:hover {
  font-weight: bold;
  color: #0d2818 !important;
}

/* Eye Toggle */
.eye-toggle{
width: 50px;
}

/* Customer Account */
label.customer-account{
  font-weight: 500;
  color: white;
}

.customer-account-field{
  font-weight: 500;
}

#customer-name {
  color: #ffb800;
}

#account-form{
  background-color: #240046;
}

.alert{
  text-align: center;
}

/* 1st Graph CSS */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Member Reservation */
.modal-content-wrapper p {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0%;
  overflow-y: auto;
}
.modal-label, .modal-total {
  font-weight: bold;
  text-align: right;
  width: 150px; /* Adjust the width as needed */
  margin-right: 30px; /* Add space between label and input */
}

.modal-input {
  text-align: left;
  flex: 1; /* Ensure the inputs take up the remaining space */
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-total {
  font-weight: bold;
  color: black;
  font-size: 26px;
}
#total{
  color: green;
  font-size: 26px;
  font-weight: bold;
}
.modal-label{
  color: black;
}

.he{
  font-weight: 600;
  margin: 0%;
}

.gcash{
  color: #FFB800;
  font-weight: bold;
}




.create-button-member#submitReserve {
  width: 400px;
}

.create-button#create-reservation-button{
  border-color: #240046 !important; 
  background-color: #240046 !important;
  color: #FFB800;
}

.create-button#create-walkin-button, .create-button#success-reservation-button{
  background-color: #0d2818 !important;
  color: white;
  border-color: #0d2818 !important; 
}

.create-button#create-reservation-button:hover {
  background-color: #FFB800 !important;
  color: #240046 !important;
  border-color: #FFB800 !important; 
}



.create-button-member{
  background-color: #240046 !important;
  color: #FFB800 !important;
  border-color: #240046 !important;
}

.create-button-member:hover{
  background-color: #FFB800 !important;
  color: #240046 !important;
  border-color: #FFB800 !important;
  font-weight: 600;
}


.cancel-button-member{
  border-color: #240046 !important; 
  color: #240046 !important;
  
}

.cancel-button-member:hover{
  border-color: #240046 !important; 
  color: #FFB800 !important;
  background-color: #240046 !important;
  font-weight: 600;
}


#imagePreview{
  display: none;
  max-width:  100%;
  /* margin-top: 10px; */
  border: #011509 solid 2px;
  border-radius: 10px;
}


#full-screen-logo{
  width: 8%
}

.number-of-visitors,.member-validity-date {
  font-size: 100px;
  font-weight: 600;
  color: #011509 ;
}

.member-validity-date{
  font-size: 44px;
}


.Visitors-today {
  font-size: 20px;
}

.visitors-box{
  height: 315px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gcash{
  color: #240046;
  font-weight: 600 ;
}

.proceed{
  font-weight: 500  ;
}

.dashboard-square-kebab {
  padding: 2%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Soft shadow */
}

.breadcrumb-item a {
  color: #011509 !important;
}

.breadcrumb-item a:hover {
  font-weight: 600;
}


#dataPrivacy .modal-dialog {
  max-width: 800px; /* Set your desired maximum width */
  width: 100%; /* Optional: Make the width 100% of the max-width */
}

.modal-dialog {
  display: flex;
  align-items: center; /* Vertically center the modal */
  justify-content: center; /* Horizontally center the modal */
}

@media (max-width: 768px) {
  .bevitore-logo {
      width: 25%;
  }

  #dataPrivacy .modal-dialog {
      max-width: 90%; /* Adjust width for smaller screens */
      width: 90%; /* Adjust width for smaller screens */
      margin:auto;
  }
}
